.panda-slide .carousel-item{
    background-color: #FEEAE9;
    border-radius: 1em;
}
.pink.bg.button{
    background-color: #e22847;
}
.catagories img{
    width: 100px;
}
.catagories h2{
    color: white;
}
.contact-box{
    height: 300px;
}